
    <div class="card card-success">
        <div class="card card-outline card-success">
            <div class="card bg-gradient-dark">
            <div class="card-header">
      <h3 class="card-title" class="card bg-success" align="center">ABOUT WORK AND WELLNESS</h3>
      <div class="card-tools">
      
      </div>
      <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body" align="center">
        W&W is a futuriste application that every company should take in 
        consideration and this is for many reasons : As your employees 
        progress through wellbeing programs, you get real-time metrics on 
        engagement levels, workplace ,wellbeing and productivity. As a 
        matter of fact , this app gives everyone the power to improve with 
        simple-to-use tools for wellbeing and performance :
        <div class="card-body" class="card card-outline card-primary">
            <div class="ribbon-wrapper">
                <div class="ribbon bg-warning">
                    W & W
               </div>
              </div>
        1. Promote Wellbeing 
        </div>
        <div class="card-body" class="card card-outline card-success">
        2. Encourage Self-Leadership
        </div>
        <div class="card-body" class="card card-outline card-warning">
        3. Ensure Productivity 
        </div>
        Our application increases and maintains the focus, the 
        efficiency which will lead to more productivity . Actually, 
        the team using this app can share a vision and can plan 
        and execute accordingly.last but not least , if there is 
        something worth to be mentionned thanks to this app and 
        it’s additionnal services it will be how well the 
        users(employees and partners) perform when we promote a 
        healthy work-life balance, simply by installing w&w
        
    </div>
    <!-- /.card-body -->
    <div class="card-footer" class="card bg-success" type="text-center" align="center">
        copyright Work and Wellness © 2022 all rights reserved
    </div>
    <!-- /.card-footer -->
  </div>
  <!-- /.card -->