<section class="content">
    <div class="container-fluid">
    <div class="row">
    <div class="col-12">

<div class="card">
    <div class="card-header">
        <div class="card-body" style="font-size: 20px;"class="card bg-teal" align="center">
       
            <strong>Offers Dashboard    </strong>          
                      </div>    </div>
    
    <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
    <thead>
    <tr>
    <th>ID </th>
    <th>Offer Name</th>
    <th>Ofer Description</th>
    <th>Offer Type</th>
    <th>Starting Date</th>
    <th>Ending Date</th>
    <th> Max users </th>
    <th>Modify Data</th>
    <th>Delete Data</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>228</td>
    <td>New Year Offer</td>
    <td>This offer is brought to you by BMW</td>
    <td>Black Friday</td>
    <td> <span class="badge bg-lime">15-12-2021</span></td>
    <td><span class="badge bg-info">31-12-2021</span></td>
    <td><span class="badge bg-orange">150</span></td>
    <td><button class="btn btn-primary">Modify data</button></td>
    <td><button class="btn btn-danger">Delete data</button></td>
    
    </tr>

    <tr>
        <td>228</td>
        <td>New Year Offer</td>
        <td>This offer is brought to you by BMW</td>
        <td>Black Friday</td>
        <td> <span class="badge bg-lime">15-12-2021</span></td>
        <td><span class="badge bg-info">31-12-2021</span></td>
        <td><span class="badge bg-orange">150</span></td>
        <td><button class="btn btn-primary">Modify data</button></td>
        <td><button class="btn btn-danger">Delete data</button></td>
        
        </tr>
        <tr>
            <td>228</td>
            <td>New Year Offer</td>
            <td>This offer is brought to you by BMW</td>
            <td>Black Friday</td>
            <td> <span class="badge bg-lime">15-12-2021</span></td>
            <td><span class="badge bg-info">31-12-2021</span></td>
            <td><span class="badge bg-orange">150</span></td>
            <td><button class="btn btn-primary">Modify data</button></td>
            <td><button class="btn btn-danger">Delete data</button></td>
            
            </tr>
            <tr>
                <td>228</td>
                <td>New Year Offer</td>
                <td>This offer is brought to you by BMW</td>
                <td>Black Friday</td>
                <td> <span class="badge bg-lime">15-12-2021</span></td>
                <td><span class="badge bg-info">31-12-2021</span></td>
                <td><span class="badge bg-orange">150</span></td>
                <td><button class="btn btn-primary">Modify data</button></td>
                <td><button class="btn btn-danger">Delete data</button></td>
                
                </tr>
                <tr>
                    <td>228</td>
                    <td>New Year Offer</td>
                    <td>This offer is brought to you by BMW</td>
                    <td>Black Friday</td>
                    <td> <span class="badge bg-lime">15-12-2021</span></td>
                    <td><span class="badge bg-info">31-12-2021</span></td>
                    <td><span class="badge bg-orange">150</span></td>
                    <td><button class="btn btn-primary">Modify data</button></td>
                    <td><button class="btn btn-danger">Delete data</button></td>
                    
                    </tr>
                    <tr>
                        <td>228</td>
                        <td>New Year Offer</td>
                        <td>This offer is brought to you by BMW</td>
                        <td>Black Friday</td>
                        <td> <span class="badge bg-lime">15-12-2021</span></td>
                        <td><span class="badge bg-info">31-12-2021</span></td>
                        <td><span class="badge bg-orange">150</span></td>
                        <td><button class="btn btn-primary">Modify data</button></td>
                        <td><button class="btn btn-danger">Delete data</button></td>
                        
                        </tr>
                        <tr>
                            <td>228</td>
                            <td>New Year Offer</td>
                            <td>This offer is brought to you by BMW</td>
                            <td>Black Friday</td>
                            <td> <span class="badge bg-lime">15-12-2021</span></td>
                            <td><span class="badge bg-info">31-12-2021</span></td>
                            <td><span class="badge bg-orange">150</span></td>
                            <td><button class="btn btn-primary">Modify data</button></td>
                            <td><button class="btn btn-danger">Delete data</button></td>
                            
                            </tr>
                            <tr>
                                <td>228</td>
                                <td>New Year Offer</td>
                                <td>This offer is brought to you by BMW</td>
                                <td>Black Friday</td>
                                <td> <span class="badge bg-lime">15-12-2021</span></td>
                                <td><span class="badge bg-info">31-12-2021</span></td>
                                <td><span class="badge bg-orange">150</span></td>
                                <td><button class="btn btn-primary">Modify data</button></td>
                                <td><button class="btn btn-danger">Delete data</button></td>
                                
                                </tr>
                                <tr>
                                    <td>228</td>
                                    <td>New Year Offer</td>
                                    <td>This offer is brought to you by BMW</td>
                                    <td>Black Friday</td>
                                    <td> <span class="badge bg-lime">15-12-2021</span></td>
                                    <td><span class="badge bg-info">31-12-2021</span></td>
                                    <td><span class="badge bg-orange">150</span></td>
                                    <td><button class="btn btn-primary">Modify data</button></td>
                                    <td><button class="btn btn-danger">Delete data</button></td>
                                    
                                    </tr>
                                    <tr>
                                        <td>228</td>
                                        <td>New Year Offer</td>
                                        <td>This offer is brought to you by BMW</td>
                                        <td>Black Friday</td>
                                        <td> <span class="badge bg-lime">15-12-2021</span></td>
                                        <td><span class="badge bg-info">31-12-2021</span></td>
                                        <td><span class="badge bg-orange">150</span></td>
                                        <td><button class="btn btn-primary">Modify data</button></td>
                                        <td><button class="btn btn-danger">Delete data</button></td>
                                        
                                        </tr>
                                                                                                                                                                                        
    </table>
    </div>
    
    </div>
    </div>
    </div>
    </div>
    </section>
    <script>
        $(function () {
          $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
          }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
          $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
          });
        });
      </script>
  
