<section class="content">
    <div class="row">
    <div class="col-12" id="accordion">
    <div class="card card-primary card-outline">
    <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
    <div class="card-header">
    <h4 class="card-title w-100">
Tecnologies in 2022     </h4>
     </div>
    </a>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
    <div class="card-body">
        this is an article that is writter for validation purposes! it will be ubloadable soon! 
        this is an article that is writter for validation purposes! it will be ubloadable soon! 
        this is an article that is writter for validation purposes! it will be ubloadable soon! 
        this is an article that is writter for validation purposes! it will be ubloadable soon! 
        this is an article that is writter for validation purposes! it will be ubloadable soon! 
        this is an article that is writter for validation purposes! it will be ubloadable soon! 
        this is an article that is writter for validation purposes! it will be ubloadable soon! 
        this is an article that is writter for validation purposes! it will be ubloadable soon! 
        this is an article that is writter for validation purposes! it will be ubloadable soon! 
        this is an article that is writter for validation purposes! it will be ubloadable soon! 
        this is an article that is writter for validation purposes! it will be ubloadable soon! 
        this is an article that is writter for validation purposes! it will be ubloadable soon! 
        this is an article that is writter for validation purposes! it will be ubloadable soon! 
    </div>
    </div>
    </div>
    <section class="content">
        <div class="row">
        <div class="col-12" id="accordion">
        <div class="card card-warning card-outline">
        <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
        <div class="card-header">
        <h4 class="card-title w-100">
    Read more about SEO   </h4>
         </div>
        </a>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
            this is an article that is writter for validation purposes! it will be ubloadable soon! 
            this is an article that is writter for validation purposes! it will be ubloadable soon! 
            this is an article that is writter for validation purposes! it will be ubloadable soon! 
            this is an article that is writter for validation purposes! it will be ubloadable soon! 
            this is an article that is writter for validation purposes! it will be ubloadable soon! 
            this is an article that is writter for validation purposes! it will be ubloadable soon! 
            this is an article that is writter for validation purposes! it will be ubloadable soon! 
            this is an article that is writter for validation purposes! it will be ubloadable soon! 
            this is an article that is writter for validation purposes! it will be ubloadable soon! 
            this is an article that is writter for validation purposes! it will be ubloadable soon! 
            this is an article that is writter for validation purposes! it will be ubloadable soon! 
            this is an article that is writter for validation purposes! it will be ubloadable soon! 
            this is an article that is writter for validation purposes! it will be ubloadable soon! 
        </div>
        </div>
        </div>

        <section class="content">
            <div class="row">
            <div class="col-12" id="accordion">
            <div class="card card-danger card-outline">
            <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
            <div class="card-header">
            <h4 class="card-title w-100">
        Discover the newest Facebook Ads Trends     </h4>
             </div>
            </a>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
            <div class="card-body">
                this is an article that is writter for validation purposes! it will be ubloadable soon! 
                this is an article that is writter for validation purposes! it will be ubloadable soon! 
                this is an article that is writter for validation purposes! it will be ubloadable soon! 
                this is an article that is writter for validation purposes! it will be ubloadable soon! 
                this is an article that is writter for validation purposes! it will be ubloadable soon! 
                this is an article that is writter for validation purposes! it will be ubloadable soon! 
                this is an article that is writter for validation purposes! it will be ubloadable soon! 
                this is an article that is writter for validation purposes! it will be ubloadable soon! 
                this is an article that is writter for validation purposes! it will be ubloadable soon! 
                this is an article that is writter for validation purposes! it will be ubloadable soon! 
                this is an article that is writter for validation purposes! it will be ubloadable soon! 
                this is an article that is writter for validation purposes! it will be ubloadable soon! 
                this is an article that is writter for validation purposes! it will be ubloadable soon! 
            </div>
            </div>
            </div>

            <section class="content">
                <div class="row">
                <div class="col-12" id="accordion">
                <div class="card card-teal card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                <div class="card-header">
                <h4 class="card-title w-100">
            What does it take for you to be a talent acquision senior?    </h4>
                 </div>
                </a>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                    this is an article that is writter for validation purposes! it will be ubloadable soon! 
                    this is an article that is writter for validation purposes! it will be ubloadable soon! 
                    this is an article that is writter for validation purposes! it will be ubloadable soon! 
                    this is an article that is writter for validation purposes! it will be ubloadable soon! 
                    this is an article that is writter for validation purposes! it will be ubloadable soon! 
                    this is an article that is writter for validation purposes! it will be ubloadable soon! 
                    this is an article that is writter for validation purposes! it will be ubloadable soon! 
                    this is an article that is writter for validation purposes! it will be ubloadable soon! 
                    this is an article that is writter for validation purposes! it will be ubloadable soon! 
                    this is an article that is writter for validation purposes! it will be ubloadable soon! 
                    this is an article that is writter for validation purposes! it will be ubloadable soon! 
                    this is an article that is writter for validation purposes! it will be ubloadable soon! 
                    this is an article that is writter for validation purposes! it will be ubloadable soon! 
                </div>
                </div>
                </div>

                <section class="content">
                    <div class="row">
                    <div class="col-12" id="accordion">
                    <div class="card card-success card-outline">
                    <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                    <div class="card-header">
                    <h4 class="card-title w-100">
                Read about Linkedin differently    </h4>
                     </div>
                    </a>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        this is an article that is writter for validation purposes! it will be ubloadable soon! 
                        this is an article that is writter for validation purposes! it will be ubloadable soon! 
                        this is an article that is writter for validation purposes! it will be ubloadable soon! 
                        this is an article that is writter for validation purposes! it will be ubloadable soon! 
                        this is an article that is writter for validation purposes! it will be ubloadable soon! 
                        this is an article that is writter for validation purposes! it will be ubloadable soon! 
                        this is an article that is writter for validation purposes! it will be ubloadable soon! 
                        this is an article that is writter for validation purposes! it will be ubloadable soon! 
                        this is an article that is writter for validation purposes! it will be ubloadable soon! 
                        this is an article that is writter for validation purposes! it will be ubloadable soon! 
                        this is an article that is writter for validation purposes! it will be ubloadable soon! 
                        this is an article that is writter for validation purposes! it will be ubloadable soon! 
                        this is an article that is writter for validation purposes! it will be ubloadable soon! 
                    </div>
                    </div>
                    </div>