<div class="info-box bg-gradient-info">
    <span class="info-box-icon"><i class="far fa-bookmark"></i></span>
    <div class="info-box-content">
      <span class="info-box-text"><i class="fab fa-linkedin mr-2"></i>LinkedIn Articles</span>
      <span class="info-box-number">51,460</span>
      <div class="progress">
        <div class="progress-bar" style="width: 70%"></div>
      </div>
      <span class="progress-description">
        70% Skills Increase in 30 Days
      </span>
    </div>
    <a href="/articles" class="small-box-footer">
        More info <i class="fas fa-arrow-circle-right"></i>
    </a>
  </div>
  <div class="info-box bg-gradient-danger">
    <span class="info-box-icon"><i class="far fa-bell"></i></span>
    <div class="info-box-content">
      <span class="info-box-text"><i class="fab fa-whatsapp mr-2"></i> Talent Acquisition </span>
      <span class="info-box-number">41,410</span>
      <div class="progress">
        <div class="progress-bar" style="width: 40%"></div>
      </div>
      <span class="progress-description">
        40% Skills Increase in 15 Days
      </span>
    </div>
    <a href="/articles" class="small-box-footer">
        More info <i class="fas fa-arrow-circle-right"></i>
    </a>
  </div>
  <div class="info-box bg-gradient-primary">
    <span class="info-box-icon"><i class="far fa-address-book"></i></span>
    <div class="info-box-content">
      <span class="info-box-text"><i class="fab fa-telegram mr-2"></i> Trending Technologies 2022 </span>
      <span class="info-box-number">12,518</span>
      <div class="progress">
        <div class="progress-bar" style="width: 25%"></div>
      </div>
      <span class="progress-description">
        25% Skills Increase in 5 Days
      </span>
    </div>
    <a href="/articles" class="small-box-footer">
        More info <i class="fas fa-arrow-circle-right"></i>
    </a>
  </div>
 
  
  <div class="info-box bg-gradient-warning">
    <span class="info-box-icon"><i class="far fa-address-card"></i></span>
    <div class="info-box-content">
      <span class="info-box-text"><i class="fab fa-facebook mr-2"></i> Facebook ADS</span>
      <span class="info-box-number">26,419</span>
      <div class="progress">
        <div class="progress-bar" style="width: 50%"></div>
      </div>
      <span class="progress-description">
        50% Skills Increase in 10 Days
      </span>
    </div>
    <a href="/articles" class="small-box-footer">
        More info <i class="fas fa-arrow-circle-right"></i>
    </a>
  </div>
  <div class="info-box bg-gradient-success">
    <span class="info-box-icon"><i class="far fa-question-circle"></i></span>
    <div class="info-box-content">
      <span class="info-box-text"><i class="fab fa-google mr-2"></i> SEO </span>
      <span class="info-box-number">23,522</span>
      <div class="progress">
        <div class="progress-bar" style="width: 90%"></div>
      </div>
      <span class="progress-description">
        90% Skills Increase in 90 Days
      </span>
     
    </div>
    <a href="/articles" class="small-box-footer">
        More info <i class="fas fa-arrow-circle-right"></i>
    </a>
  </div>
 

  