<div class="row">
    <div class="col-12">
    <div class="card">
    <div class="card-header">
        <div class="card-body" style="font-size: 20px;"class="card bg-teal" align="center">
       
    <strong>Quiz Dashboard    </strong>          
              </div>
    <div class="card-tools">
    <div class="input-group input-group-sm" style="width: 150px;">
    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
    <div class="input-group-append">
    <button type="submit" class="btn btn-default">
    <i class="fas fa-search"></i>
    </button>
    </div>
    </div>
    </div>
    </div>
    
    <div class="card-body table-responsive p-0">
     <table class="table table-hover text-nowrap">
    <thead>
    <tr>
    <th>ID</th>
    <th>Quiz</th>
    <th>Quiz Date</th>
    <th>Username</th>
    <th>Score</th>
    <th>Best score</th>
    <th>Worst score</th>
    <th>Modify Data</th>
    <th>Delete Data</th>
    <th>Print Data</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>183</td>
    <td>Quiz Linkedin</td>
    <td>11-02-2022</td>
    <td>Chayma Boualy</td>
    <td><span class="badge bg-indigo">15<b style="font-size: 5px; color:aqua">/20</b></span></td>
    <td><span class="badge bg-teal">17<b style="font-size: 5px; color:darkblue">/20</b></span></td>
    <td><span class="badge bg-orange">03<b style="font-size: 5px; color:whitesmoke">/20</b></span></td>
    <td><button class="btn btn-primary">Modify data</button></td>
    <td><button class="btn btn-danger">Delete data</button></td>
    <td><button class="btn btn-warning">Print data</button></td>
</tr>
    <tr>
        <td>183</td>
        <td>Quiz Linkedin</td>
        <td>11-02-2022</td>
        <td>Chayma Boualy</td>
        <td><span class="badge bg-indigo">15<b style="font-size: 5px; color:aqua">/20</b></span></td>
        <td><span class="badge bg-teal">17<b style="font-size: 5px; color:darkblue">/20</b></span></td>
        <td><span class="badge bg-orange">03<b style="font-size: 5px; color:whitesmoke">/20</b></span></td>
        <td><button class="btn btn-primary">Modify data</button></td>
        <td><button class="btn btn-danger">Delete data</button></td>
        <td><button class="btn btn-warning">Print data</button></td>    
    </tr>
        <tr>
            <td>183</td>
            <td>Quiz Linkedin</td>
            <td>11-02-2022</td>
            <td>Chayma Boualy</td>
            <td><span class="badge bg-indigo">15<b style="font-size: 5px; color:aqua">/20</b></span></td>
            <td><span class="badge bg-teal">17<b style="font-size: 5px; color:darkblue">/20</b></span></td>
            <td><span class="badge bg-orange">03<b style="font-size: 5px; color:whitesmoke">/20</b></span></td>
            <td><button class="btn btn-primary">Modify data</button></td>
            <td><button class="btn btn-danger">Delete data</button></td>
            <td><button class="btn btn-warning">Print data</button></td>
        </tr>
            <tr>
                <td>183</td>
                <td>Quiz Linkedin</td>
                <td>11-02-2022</td>
                <td>Chayma Boualy</td>
                <td><span class="badge bg-indigo">15<b style="font-size: 5px; color:aqua">/20</b></span></td>
                <td><span class="badge bg-teal">17<b style="font-size: 5px; color:darkblue">/20</b></span></td>
                <td><span class="badge bg-orange">03<b style="font-size: 5px; color:whitesmoke">/20</b></span></td>
                <td><button class="btn btn-primary">Modify data</button></td>
                <td><button class="btn btn-danger">Delete data</button></td>
                <td><button class="btn btn-warning">Print data</button></td>
            </tr>
                <tr>
                    <td>183</td>
                    <td>Quiz Linkedin</td>
                    <td>11-02-2022</td>
                    <td>Chayma Boualy</td>
                    <td><span class="badge bg-indigo">15<b style="font-size: 5px; color:aqua">/20</b></span></td>
                    <td><span class="badge bg-teal">17<b style="font-size: 5px; color:darkblue">/20</b></span></td>
                    <td><span class="badge bg-orange">03<b style="font-size: 5px; color:whitesmoke">/20</b></span></td>
                    <td><button class="btn btn-primary">Modify data</button></td>
                    <td><button class="btn btn-danger">Delete data</button></td>
                    <td><button class="btn btn-warning">Print data</button></td>
                </tr>
                    <tr>
                        <td>183</td>
                        <td>Quiz Linkedin</td>
                        <td>11-02-2022</td>
                        <td>Chayma Boualy</td>
                        <td><span class="badge bg-indigo">15<b style="font-size: 5px; color:aqua">/20</b></span></td>
                        <td><span class="badge bg-teal">17<b style="font-size: 5px; color:darkblue">/20</b></span></td>
                        <td><span class="badge bg-orange">03<b style="font-size: 5px; color:whitesmoke">/20</b></span></td>
                        <td><button class="btn btn-primary">Modify data</button></td>
                        <td><button class="btn btn-danger">Delete data</button></td>
                        <td><button class="btn btn-warning">Print data</button></td>
                    </tr>
                        <tr>
                            <td>183</td>
                            <td>Quiz Linkedin</td>
                            <td>11-02-2022</td>
                            <td>Chayma Boualy</td>
                            <td><span class="badge bg-indigo">15<b style="font-size: 5px; color:aqua">/20</b></span></td>
                            <td><span class="badge bg-teal">17<b style="font-size: 5px; color:darkblue">/20</b></span></td>
                            <td><span class="badge bg-orange">03<b style="font-size: 5px; color:whitesmoke">/20</b></span></td>
                            <td><button class="btn btn-primary">Modify data</button></td>
                            <td><button class="btn btn-danger">Delete data</button></td>
                            <td><button class="btn btn-warning">Print data</button></td>
                        </tr>
                            <tr>
                                <td>183</td>
                                <td>Quiz Linkedin</td>
                                <td>11-02-2022</td>
                                <td>Chayma Boualy</td>
                                <td><span class="badge bg-indigo">15<b style="font-size: 5px; color:aqua">/20</b></span></td>
                                <td><span class="badge bg-teal">17<b style="font-size: 5px; color:darkblue">/20</b></span></td>
                                <td><span class="badge bg-orange">03<b style="font-size: 5px; color:whitesmoke">/20</b></span></td>
                                <td><button class="btn btn-primary">Modify data</button></td>
                                <td><button class="btn btn-danger">Delete data</button></td>
                                <td><button class="btn btn-warning">Print data</button></td>
                            </tr>
                                <tr>
                                    <td>183</td>
                                    <td>Quiz Linkedin</td>
                                    <td>11-02-2022</td>
                                    <td>Chayma Boualy</td>
                                    <td><span class="badge bg-indigo">15<b style="font-size: 5px; color:aqua">/20</b></span></td>
                                    <td><span class="badge bg-teal">17<b style="font-size: 5px; color:darkblue">/20</b></span></td>
                                    <td><span class="badge bg-orange">03<b style="font-size: 5px; color:whitesmoke">/20</b></span></td>
                                    <td><button class="btn btn-primary">Modify data</button></td>
                                    <td><button class="btn btn-danger">Delete data</button></td>
                                    <td><button class="btn btn-warning">Print data</button></td>    
                                </tr>
    
   
    </tbody>
    </table>
    </div>
    
    </div>
    
    </div>
    </div>
    
