<div class="card">
    <div class="card-header card-primary">
      <h3 class="card-title">Choose your Languages </h3>
      <div class="card-tools">
        <!-- Buttons, labels, and many other things can be placed here! -->
        <!-- Here is a label for example -->
        <span class="badge badge-primary">You can use </span>
      </div>
      <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->


    <div class="icheck-primary" style="margin: top 100px;">
    <input type="checkbox" id="french">
    <label for="french">
            <div class="card-body" >
                <h3 style="color: aliceblue;"> French </h3>      
            </div>

        </label>
    </div>
    <div class="icheck-primary" style="margin: top 100px;">
        <input type="checkbox" id="english">
        <label for="english">
          
                <div class="card-body" >
                    <h3 style="color: aliceblue;"> English </h3>      
        </div>
        </label>
        </div>

    <!-- /.card-body -->
 
    <!-- /.card-footer -->
  </div>
  <!-- /.card -->