<div class="small-box bg-gradient-success">
    <div class="inner">
      <h3>Read Me</h3>
      <p>User Registrations Terms And Conditions </p>
      <h5 class="text-center" class="card card-info" align="center"> In order to join Work and Wellness all you have to be is a person who is ready for a new adventurous experience among their workspace where they can find their confort and happiness</h5>
    </div>
    <div class="icon">
      <i class="fas fa-user-plus"></i>
    </div>
    <a href="/about" class="small-box-footer">
      More info <i class="fas fa-arrow-circle-right"></i>
    </a>
  </div>
    