<!-- Main node for this component -->
<div class="timeline">
    <!-- Timeline time label -->
    <div class="time-label">
      <span class="bg-green">23 May. 2022</span>
    </div>
    <div>
      <!-- Before each timeline item corresponds to one icon on the left scale -->
        <i class="fas fa-envelope bg-blue"></i>
        <!-- Timeline item -->
        <div class="timeline-item">
      <!-- Time -->
        <span class="time"><i class="fas fa-clock"></i> 12:05</span>
        <!-- Header. Optional -->
        <h3 class="timeline-header"><a href="#">Support Team</a> Added a new Publication</h3>
        <!-- Body -->
        <div class="timeline-body">
          Work and Wellness Administration is so happy to announce you that we built up a partnership with Linkedin in order for all the family to have access to Premium features as soon as possible! 
          Stay Tuned! 
        </div>
        <!-- Placement of additional controls. Optional -->
        <div class="timeline-footer">
          <a class="btn btn-success btn-sm">Read more</a>
          <a class="btn btn-danger btn-sm">Delete</a>
        </div>
        <!-- Time -->
        <span class="time"><i class="fas fa-clock"></i> 09:05</span>
        <!-- Header. Optional -->
        <h3 class="timeline-header"><a href="#">Support Team</a> Added a new Publications</h3>
        <!-- Body -->
        <div class="timeline-body">
          Work and Wellness Administration is so happy to announce you that we built up a partnership with SAMSUNG in order for all the family to have access to amazing kits as soon as possible! 
          Stay Tuned! 
        </div>
        <!-- Placement of additional controls. Optional -->
        <div class="timeline-footer">
          <a class="btn btn-warning btn-sm">Read more</a>
          <a class="btn btn-danger btn-sm">Delete</a>
        </div>
   
    <!-- Time -->
    <span class="time"><i class="fas fa-clock"></i> 07:05</span>
    <!-- Header. Optional -->
    <h3 class="timeline-header"><a href="#">Support Team</a> Added a new Publications</h3>
    <!-- Body -->
    <div class="timeline-body">
      Work and Wellness Administration is so happy to announce you that we built up a partnership with BMW in order for all the family to have access to amazing cars as soon as possible! 
      Stay Tuned! 
    </div>
    <!-- Placement of additional controls. Optional -->
    <div class="timeline-footer">
      <a class="btn btn-success btn-sm">Read more</a>
      <a class="btn btn-danger btn-sm">Delete</a>
    </div>
  </div>
    <!-- The last icon means the story is complete -->
    <div>
      <i class="fas fa-clock bg-gray"></i>
    </div>
</div>
<!-- Timeline time label -->
<div class="time-label">
    <span class="bg-green">05 June. 2022</span>
  </div>
  <div>
    <div class="ribbon-wrapper ribbon-xl">
        <div class="ribbon bg-warning">
Exclusive        </div>
      </div>
      
       
    <!-- Before each timeline item corresponds to one icon on the left scale -->
      <i class="fas fa-envelope bg-blue"></i>
      <!-- Timeline item -->
      <div class="timeline-item">
    <!-- Time -->
      <span class="time"><i class="fas fa-clock"></i> 11:05</span>
      <!-- Header. Optional -->
      <h3 class="timeline-header"><a href="#">Support Team</a> Added a new Publication</h3>
      <!-- Body -->
      <div class="timeline-body">
        Work and Wellness Administration is so happy to announce you that we built up a partnership with Shell in order for all the family to have access to Premium features as soon as possible! 
        Stay Tuned! 
      </div>
      <!-- Placement of additional controls. Optional -->
      <div class="timeline-footer">
        <a class="btn btn-success btn-sm">Read more</a>
        <a class="btn btn-danger btn-sm">Delete</a>
      </div>
      <!-- Time -->
      <span class="time"><i class="fas fa-clock"></i> 09:05</span>
      <!-- Header. Optional -->
      <h3 class="timeline-header"><a href="#">Support Team</a> Added a new Publications</h3>
      <!-- Body -->
      <div class="timeline-body">
       New Offers By OREEDOO are now available check your emails!  
      </div>
      <!-- Placement of additional controls. Optional -->
      <div class="timeline-footer">
        <a class="btn btn-warning btn-sm">Read more</a>
        <a class="btn btn-danger btn-sm">Delete</a>
      </div>
 
  <!-- Time -->
  <span class="time"><i class="fas fa-clock"></i> 07:05</span>
  <!-- Header. Optional -->
  <h3 class="timeline-header"><a href="#">Support Team</a> Added a new Publication</h3>
  <!-- Body -->
  <div class="timeline-body">
    Work and Wellness Administration is so happy to announce you that we built up a partnership with Oreedoo in order for all the family to have access to amazing cars as soon as possible! 
    Stay Tuned! 
  </div>
  <!-- Placement of additional controls. Optional -->
  <div class="timeline-footer">
    <a class="btn btn-success btn-sm">Read more</a>
    <a class="btn btn-danger btn-sm">Delete</a>
  </div>
</div>
  <!-- The last icon means the story is complete -->
  <div>
    <i class="fas fa-clock bg-gray"></i>
  </div>
</div>
</div>