<section class="content">
    <div class="container-fluid">
    <div class="row">
    <div class="col-12">

<div class="card">
    <div class="card-header">
        <div class="card-body" style="font-size: 20px;"class="card bg-teal" align="center">
       
            <strong>Users Dashboard    </strong>          
                      </div>    </div>
    
    <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
    <thead>
    <tr>
    <th>User id </th>
    <th><i class="fab fa-linkedin mr-2"></i>Linkedin Profile</th>
    <th>Full Name</th>
    <th>Sexe</th>
    <th>Age</th>
    <th>Role</th>
    <th>Modify Data</th>
    <th>Delete Data</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>123</td>
    <td><a href="https://www.linkedin.com/in/chayma-boualy-5a6a001b1/"></a> @ChaymaBoualy</td>
    <td>Chayma Boualy</td>
    <td placeholder="Women">Woman</td>
    <td> 23</td>
    <td><span class="badge bg-teal">Administrator</span></td>
    <td><button class="btn btn-primary">Modify data</button></td>
    <td><button class="btn btn-danger">Delete data</button></td>

    </tr>
    <tr>
        <td>123</td>
        <td><a href="https://www.linkedin.com/in/chayma-boualy-5a6a001b1/"></a> @ChaymaBoualy</td>
        <td>Chayma Boualy</td>
        <td placeholder="Women">Woman</td>
        <td> 23</td>
        <td><span class="badge bg-info">Employee</span></td>
        <td><button class="btn btn-primary">Modify data</button></td>
        <td><button class="btn btn-danger">Delete data</button></td>
    
        </tr>
        <tr>
            <td>123</td>
            <td><a href="https://www.linkedin.com/in/chayma-boualy-5a6a001b1/"></a> @ChaymaBoualy</td>
            <td>Chayma Boualy</td>
            <td placeholder="Women">Woman</td>
            <td> 23</td>
            <td><span class="badge bg-orange">Partner</span></td>
            <td><button class="btn btn-primary">Modify data</button></td>
            <td><button class="btn btn-danger">Delete data</button></td>
        
            </tr>
            <tr>
                <td>123</td>
                <td><a href="https://www.linkedin.com/in/chayma-boualy-5a6a001b1/"></a> @ChaymaBoualy</td>
                <td>Chayma Boualy</td>
                <td placeholder="Women">Woman</td>
                <td> 23</td>
                <td><span class="badge bg-info">Employee</span></td>
                <td><button class="btn btn-primary">Modify data</button></td>
                <td><button class="btn btn-danger">Delete data</button></td>
            
                </tr>
                <tr>
                    <td>123</td>
                    <td><a href="https://www.linkedin.com/in/chayma-boualy-5a6a001b1/"></a> @ChaymaBoualy</td>
                    <td>Chayma Boualy</td>
                    <td placeholder="Women">Woman</td>
                    <td> 23</td>
                    <td><span class="badge bg-teal">Administrator</span></td>
                    <td><button class="btn btn-primary">Modify data</button></td>
                    <td><button class="btn btn-danger">Delete data</button></td>
                
                    </tr>
                    <tr>
                        <td>123</td>
                        <td><a href="https://www.linkedin.com/in/chayma-boualy-5a6a001b1/"></a> @ChaymaBoualy</td>
                        <td>Chayma Boualy</td>
                        <td placeholder="Women">Woman</td>
                        <td> 23</td>
                        <td><span class="badge bg-teal">Administrator</span></td>
                        <td><button class="btn btn-primary">Modify data</button></td>
                        <td><button class="btn btn-danger">Delete data</button></td>
                    
                        </tr>
                        <tr>
                            <td>123</td>
                            <td><a href="https://www.linkedin.com/in/chayma-boualy-5a6a001b1/"></a> @ChaymaBoualy</td>
                            <td>Chayma Boualy</td>
                            <td placeholder="Women">Woman</td>
                            <td> 23</td>
                            <td><span class="badge bg-info">Employee</span></td>
                            <td><button class="btn btn-primary">Modify data</button></td>
                            <td><button class="btn btn-danger">Delete data</button></td>
                        
                            </tr>
                           
                            <tr>
                                <td>123</td>
                                <td><a href="https://www.linkedin.com/in/chayma-boualy-5a6a001b1/"></a> @ChaymaBoualy</td>
                                <td>Chayma Boualy</td>
                                <td placeholder="Women">Woman</td>
                                <td> 23</td>
                                <td><span class="badge bg-orange">Partner</span></td>
                                <td><button class="btn btn-primary">Modify data</button></td>
                                <td><button class="btn btn-danger">Delete data</button></td>
                            
                                </tr>
                                <tr>
                                    <td>123</td>
                                    <td><a href="https://www.linkedin.com/in/chayma-boualy-5a6a001b1/"></a> @ChaymaBoualy</td>
                                    <td>Chayma Boualy</td>
                                    <td placeholder="Women">Woman</td>
                                    <td> 23</td>
                                    <td><span class="badge bg-info">Employee</span></td>
                                    <td><button class="btn btn-primary">Modify data</button></td>
                                    <td><button class="btn btn-danger">Delete data</button></td>
                                
                                    </tr>
                                    <tr>
                                        <td>123</td>
                                        <td><a href="https://www.linkedin.com/in/chayma-boualy-5a6a001b1/"></a> @ChaymaBoualy</td>
                                        <td>Chayma Boualy</td>
                                        <td placeholder="Women">Woman</td>
                                        <td> 23</td>
                                        <td><span class="badge bg-teal">Administrator</span></td>
                                        <td><button class="btn btn-primary">Modify data</button></td>
                                        <td><button class="btn btn-danger">Delete data</button></td>
                                    
                                        </tr>
                                        <tr>
                                            <td>123</td>
                                            <td><a href="https://www.linkedin.com/in/chayma-boualy-5a6a001b1/"></a> @ChaymaBoualy</td>
                                            <td>Chayma Boualy</td>
                                            <td placeholder="Women">Woman</td>
                                            <td> 23</td>
                                            <td><span class="badge bg-teal">Administrator</span></td>
                                            <td><button class="btn btn-primary">Modify data</button></td>
                                            <td><button class="btn btn-danger">Delete data</button></td>
                                        
                                            </tr>
    </tbody>
    <tfoot>
        <th>User id </th>
        <th><i class="fab fa-linkedin mr-2"></i>Linkedin Profile</th>
        <th>Full Name</th>
        <th>Sexe</th>
        <th>Age</th>
        <th>Role</th>
        <th>Modify Data</th>
        <th>Delete User</th>
    </tfoot>
    </table>
    </div>
    
    </div>
    </div>
    </div>
    </div>
    </section>
    <script>
        $(function () {
          $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
          }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
          $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
          });
        });
      </script>
  